<h1>Contato <span  class="small text-muted" ng-show="contato._id">#{{ contato._id }}</span> <span class="small text-muted" ng-show='contato.message'>{{ contato.message }}</span></h1>
<hr>

<form class="form" ng-submit="salvar(contato)">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Nome completo" ng-model="contato.nome">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input class="form-control" type="text" name="email" placeholder="Email" ng-model="contato.email">
    </div>
  </div>

  <div class="form-group">
    <label for="emergencia">Emergência</label>
    <select name="emergencia" id="emergencia" class="form-control" 
      ng-model="contato.emergencia"
      ng-options="contato._id as contato.nome for contato in contatos">
      <option value="">Selecione um contato de emergência</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="!contato.nome">Enviar</button>
  <a href="#/contatos" class="btn btn-default">Listar Contatos</a>
</form>
