<div class="jumbotron">
  <h1>{{ title }}</h1>
</div>

<a class="btn btn-primary" href="#/contato">Novo Contato</a>

<div class="alert alert-info" ng-if="contatos.length == 0">
  Nenhum contato cadastrado
</div>

<p class="text-info" ng-show="contatos.length > 0">Total de contatos: {{ contatos.length }}</p>

<table class="table table-striped table-responsive table-hover">
  <thead>
    <tr>
      <th>NOME</th>
      <th>EMAIL</th>
      <th>EMERGÊNCIA</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contato in contatos">
      <td><a href="#/contato/{{ contato._id }}">{{ contato.nome }}</a></td>
      <td>{{ contato.email }}</td>
      <td>{{ contato.emergencia.nome }}</td>
      <td>
        <button class="btn btn-warning" ng-click="remover(contato)">DELETAR</button>
      </td>
    </tr>
  </tbody>
</table>
